@page "/"
@using QuranBlazor.Data
@inject DBContext db

@code {
    public IEnumerable<Sura> SuraList => db.GetSuraListAsync().Result;
}

<div class="text-white mb-3"><h3 class="px-5 py-3 shadow-lg w-100 bg-info bg-gradient rounded-3">Suras</h3></div>

@foreach (Sura sura in SuraList)
{
    <div class="row my-2">
        <div class="col">
            <div class="card bg-success bg-gradient">
                <div class="card-body py-1">
                    <a href="AyaList?SuraId=@sura.Id&SuraName=@sura.Name" class="stretched-link text-white">
                        <div class="hstack">
                            <div class="vstack">
                                <h5 class="card-title mb-0">@sura.Id. @sura.Name</h5>
                                @{ var revealed = sura.RevealedIn ? "Makka" : "Madina";}
                                <p class="card-text"><span class="my-0">@sura.Meaning</span> - @revealed (@sura.AyaCount)</p>
                            </div>
                            <h2 class="arabic">@sura.ArabicName</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
}

<SurveyPrompt Title="How is Blazor working for you?" />
