@page "/search"
@using QuranBlazor.Data
@inject DBContext db

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string KeyWord { get; set; }
    public IEnumerable<Aya> Ayas => db.GetSearchResultAsync(KeyWord).Result;
}

@* <div class="mx-4"><h3 class="px-5 py-3 shadow-lg w-100 bg-warning bg-gradient rounded-3">Search</h3></div> *@

@if (string.IsNullOrEmpty(KeyWord))
{
    <div class="mx-4 shadow-lg bg-warning bg-gradient rounded-3 text-center">
        <div class="d-flex align-items-center">
            <form class="w-100 m-3" action="search">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search" name="KeyWord">
            </form>
        </div>
    </div>
}
else
{
    <div class="mx-4"><h3 class="px-5 py-3 shadow-lg w-100 bg-warning bg-gradient rounded-3">Search result for "@KeyWord"</h3></div>
}

@if (Ayas != null)
{
    @foreach (Aya aya in Ayas)
    {
        <div class="row m-3" id="@aya.AyaId">
            <div class="col">
                <div class="card bg-info bg-gradient">
                    <div class="card-body">
                        <div class="vstack">
                            <h5 class="card-title bg-primary bg-gradient hstack rounded-3 gap-3 text-white">
                                <span class="bg-danger bg-gradient border-3 rounded-2 shadow-lg me-auto p-2 ms-1">@aya.AyaId</span>
                                <a class="oi oi-transfer ms-auto me-3 text-white stretched-link" title="Goto" aria-hidden="true" href="AyaList?SuraId=@aya.SuraId#@aya.AyaId"></a>@* &SuraName=@db.GetSuraName(aya.SuraId) *@
                            </h5>
                            <p class="arabic fs-3 fw-bold mb-0 me-2">@aya.Arabic</p>
                            <p class="my-2">@((MarkupString)aya.Text.Replace(KeyWord, "<span class='search-term'>" + KeyWord + "</span>"))</p><hr />
                            <p>@((MarkupString)aya.Comment.Replace(KeyWord, "<span class='search-term'>" + KeyWord + "</span>"))</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}