@page "/search"
@using QuranBlazor.Data
@using System.Text.RegularExpressions
@inject DbContext db

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string KeyWord { get; set; }

    private IEnumerable<Aya> _ayas;
    private IEnumerable<Aya> Ayas => _ayas ??= db.GetSearchResult(KeyWord);
    private Regex _highlightRegex;

    private string HighlightKeyword(string input)
    {
        if (_highlightRegex == null)
        {
            _highlightRegex = new Regex(KeyWord, RegexOptions.IgnoreCase);
        }
        return _highlightRegex.Replace(input, m => $"<span class='search-term'>{m.Value}</span>");
    }
}


@if (string.IsNullOrEmpty(KeyWord))
{
    <div class="mx-1 shadow-lg bg-light bg-gradient rounded-pill text-center">
        <div class="d-flex align-items-center">
            <form class="w-100 m-3" action="Search">
                <input type="search" class="form-control" placeholder="Излаш..." aria-label="Излаш" name="KeyWord">
            </form>
        </div>
    </div>
}
else
{
    <div class="mx-1"><h3 class="p-3 shadow-lg w-100 bg-light bg-gradient rounded-pill text-center">Излаш натижалари: "@KeyWord" @Ayas.Count() та жойда топилди. </h3></div>
}

@if (Ayas != null)
{
    @foreach (Aya aya in Ayas)
    {
        <div class="row my-3" id="@aya.AyaId">
            <div class="col">
                <div class="card bg-light bg-gradient">
                    <div class="card-body">
                        <div class="vstack">
                            <h5 class="card-title header-bg-color bg-gradient hstack rounded-3 gap-3 text-white">
                                <span class="bg-gradient border-3 rounded-2 shadow-lg me-auto p-2 ms-1">@($"{aya.SuraId}:{aya.AyaId}")</span>
                                <a class="oi oi-share ms-auto me-3 text-white stretched-link" title="Оятга ўтиш" href="AyaList?SuraId=@aya.SuraId#@aya.AyaId"></a>@* &SuraName=@db.GetSuraName(aya.SuraId) *@
                            </h5>
                            <p class="arabic fs-3 fw-bold mb-0 me-2">@aya.Arabic</p>
                            <p class="my-2">@((MarkupString)HighlightKeyword(aya.Text))</p><hr />
                            <p>
                                @if (aya.Comment != null)
                                {
                                    @((MarkupString)HighlightKeyword(aya.Comment))
                                }
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}